<!-- views/account-setup-form.ejs -->
<form id="account-setup-form" action="/main-page/account" method="POST">

    <label id='title'>Account Setup</label>

    <!-- Email (already registered) -->
    <label for="email">Email:</label>
    <input type="text" id="email" name="EMAIL" value="<%= user.EMAIL %>" disabled><br>

    <!-- Password Field (visible but unchangeable) -->
    <label for="password">Password:</label>
    <input type="password" id="password" name="PASSWORD" value="<%= user.PASSWORD %>" disabled><br>

    <!-- Phone -->
    <label for="phone">Phone:</label>
    <input type="text" id="phone" name="PHONE"><br>

    <!-- Additional Fields -->
    <label for="firstname">First Name:</label>
    <input type="text" id="firstname" name="F_NAME"><br>

    <label for="lastname">Last Name:</label>
    <input type="text" id="lastname" name="L_NAME"><br>

    <label for="address">Address:</label>
    <input type="text" id="address" name="ADDRESS"><br>

    <label for="zip-code">Zip Code:</label>
    <input type="text" id="zip-code" name="ZIP_CODE"><br>

    <label for="ccnumber">Credit Card Number:</label>
    <input type="text" id="ccnumber" name="CC_NUMBER"><br>

    <label for="dob">Date of Birth:</label>
    <input type="date" id="dob" name="DOB"><br>

    <!-- Placeholder for validation messages -->
    <div id="validation-messages"></div>

    <input type="submit" value="Submit">
</form>
