<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale: 1.0">
    <link rel="stylesheet" type="text/css" href="/assets/css/main-page.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/modal-form.css" />
    <title>Donut Shop</title>
    <script src="/assets/js/modal-form-generate.js" defer></script>
    <script src="/assets/js/signup-form.js" defer></script>
    <script src="/assets/js/login-form.js" defer></script>
</head>
<body>
<h1 style="text-align: center">Welcome to My Website</h1>
<div class="content-container">
    <div class="button-container">
        <button id="signUp" class="button">Sign Up!</button>
        <button id="logIn" class="button">Login!</button>
        <a href="/main-page/account" id="account" class="button">Account!</a>
        <a href="/main-page/donuts" id="openDonuts" class="button">Donuts!</a>
    </div>
    <img src="/assets/images/main-page/donut_home_main.png" alt="Donut Home"/>
</div>
<div id="modalContainer"></div>
</body>
</html>
