<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/assets/css/main-page.css">
</head>
<body>
<div class="container">
    <header>
        <h1>Header</h1>
        <div class="header-buttons">
            <button id="signUp" class="button">Sign Up!</button>
            <button id="logIn" class="button">Login!</button>
        </div>
    </header>
</div>
<div class="container center-buttons">
    <a href="/main-page/donuts" id="openDonuts" class="button">Donuts!</a>
</div>
<div class="container">
    <main>
        <div class="hero">
            <h2>Hero Section</h2>
            <p>Some text here.</p>
        </div>
        <div class="about">
            <h2>About Us</h2>
            <p>Information about us.</p>
        </div>
        <div class="contact">
            <h2>Contact Us</h2>
            <p>Contact information.</p>
        </div>
    </main>
</div>
<div class="container">
    <footer>
        <p>Footer content here.</p>
    </footer>
</div>

<div id="modalContainer"></div>
<script src="/public/assets/js/modal-form-generate.js"></script>

</body>
</html>
