<!-- signup-form.html -->
<form id="signup-form" action="/main-page/submit-form" method="POST">
    <label id='title'>Sign Up!</label>

    <label for="identifier">Email or Phone:</label>
    <input type="text" id="identifier" name="SIGNUPIDENTIFIER"><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="SIGNUPPASSWORD"><br>

    <!-- Placeholder for validation messages -->
    <div id="validation-messages"></div>

    <input type="submit" value="Submit">
</form>

